.field-info {
    color: #808080;
    font-style: italic;
    font-size: 12px;
    position: relative;
    top: -10px;
}

.cancel-button {
    margin-left: 10px;
}

.ant-modal-body {
    .field-info {
        display: none;
    }
}

.dynamic-form {
    .ant-calendar-picker {
        width: 100%;
    }
}